.git
.github
.env
.env.local
.env.development
.env.production
.env.docker
backend/.env
backend/.env.local
backend/.env.development
backend/.env.production
backend/.env.docker
frontend/.env
frontend/.env.local
frontend/.env.development
frontend/.env.production
frontend/.env.docker
node_modules
backend/node_modules
frontend/node_modules
backend/logs
logs
frontend/build
frontend/dist
npm-debug.log*
docs
delete
stop
